#informacion-de-patogenos-row {
  padding-left: 0px;
  padding-right: 0px;
}

.lista-de-patogenos-row {
  padding-left: 0px;
  padding-right: 0px;
}

.informacion-de-especie-row {
  padding-left: 0px;
  padding-right: 0px;
}
